header {
  display: flex;
  justify-content: space-between;
  outline-style: solid;
  margin-bottom: 10px;
}

.categories {
  background-color: #555
}

.sidebar {
  width: 25%;
  background-color: grey;
  outline-style: solid;
  margin-right: 10px;
}

.main-container {
  display: flex;
  justify-content: space-between;
}

a {
  display: block;
}

main {
  float: left;
  width: 75%;
}

h1 {
  margin-top: 0;
}
